* {
  font-family: 'Work Sans', sans-serif;
}

.plans {
  width: 320px;
  margin: 0px auto;
}

button {
  cursor: pointer;
}

h1 {
  text-align: center;
  font-size: 37px;
  margin-top: 45px;
  margin-bottom: 10px;
}

p.preview {
  text-align: center;
  font-size: 18px;
}

p.preview a {
  color: #5A5E5D;
}

#root {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

#root>div {
  width: 50%;
  padding: 0px 25px;
}

.plans {
  text-align: center;
}

img {
  height: 100%;
  margin: 0 auto;
  display: block;
}

.plans .product {
  margin: 0 auto;
}

.info {
  font-size: 16px;
  text-align: center;
  margin: 0;
  font-weight: 500;
}

.plans button:hover {
  background: transparent;
  color: #c85dd0;
  outline: #c85dd0 1px solid;
}

.plans button {
  color: white;
  border-radius: 30px;
  width: 280px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  padding: 16px 0;
  margin-top: 35px;
  border: none;
  background-image: linear-gradient(90deg, rgba(255, 0, 255, 1) 0%, rgba(0, 185, 255, 1) 100%);
}

.price {
  text-align: center;
  font-size: 50px;
  color: #6400d0;
}

.price p {
  margin: 70px 0 0 0;
  letter-spacing: -2px;
  line-height: 0;
}

.price small {
  font-size: 14px;
  color: black;
}

.plans .description {
  font-size: 18px;
}

#root>div {
  text-align: center;
}

@media screen and (max-width: 1100px) {
  #root>div {
    width: 100%;
  }
}
