{
  "openapi": "3.1.0",
  "info": {
    "title": "App Store API",
    "version": "unknown"
  },
  "servers": [
    {
      "url": "https://api-sandbox.duda.co/api/integrationhub/application"
    }
  ],
  "components": {
    "securitySchemes": {}
  },
  "security": [
    {}
  ],
  "paths": {
    "/site/{site_name}/collections": {
      "get": {
        "summary": "List Collections",
        "description": "Get all collections that exist on this website.",
        "operationId": "list-collections-v2",
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "description": "A valid site name of an existing website",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n  {\n    \"name\":\"events\",\n    \"customer_lock\": \"unlocked\",\n    \"static_page_bindable\": false,\n    \"item_count\": 4,\n    \"fields\":[\n      {\n        \"name\":\"date\",\n        \"type\":\"text\"\n      },\n      {\n        \"name\":\"entry-price\",\n        \"type\":\"text\"\n      },\n      {\n        \"name\":\"event-image\",\n        \"type\":\"image\"\n      },\n      {\n        \"name\":\"location\",\n        \"type\":\"text\"\n      }\n    ],\n    \"values\":[\n      {\n        \"id\":\"144\",\n        \"data\":{\n          \"date\":\"01/01/2019\",\n          \"entry-price\":\"$40\",\n          \"event-image\":\"https://irt-cdn.multiscreensite.com/md/dmip/dms3rep/multi/young-woman-portrait-blue-eyes.jpg\",\n          \"location\":\"San Francisco\"\n        }\n      },\n      {\n        \"id\":\"145\",\n        \"data\":{\n          \"date\":\"01/10/2019\",\n          \"entry-price\":\"$45\",\n          \"event-image\":\"https://irt-cdn.multiscreensite.com/md/dmip/dms3rep/multi/young-woman-portrait-blue-eyes.jpg\",\n          \"location\":\"Boston\"\n        }\n      },\n      {\n        \"id\":\"146\",\n        \"data\":{\n          \"date\":\"01/03/2019\",\n          \"entry-price\":\"$40\",\n          \"event-image\":\"https://irt-cdn.multiscreensite.com/md/dmip/dms3rep/multi/young-woman-portrait-blue-eyes.jpg\",\n          \"location\":\"San Jose\"\n        }\n      },\n      {\n        \"id\":\"147\",\n        \"data\":{\n          \"date\":\"01/13/2019\",\n          \"entry-price\":\"$45\",\n          \"event-image\":\"https://irt-cdn.multiscreensite.com/md/dmip/dms3rep/multi/young-woman-portrait-blue-eyes.jpg\",\n          \"location\":\"New York\"\n        }\n      }\n    ]\n  },\n  {\n    \"name\":\"Multi-use Image Slider\",\n    \"lock_state\": \"structure_locked\",\n    \"static_page_bindable\": true,\n    \"item_count\": 2,\n    \"fields\":[\n      {\n        \"name\":\"description\",\n        \"type\":\"text\"\n      },\n      {\n        \"name\":\"image\",\n        \"type\":\"image\"\n      },\n      {\n        \"name\":\"title\",\n        \"type\":\"text\"\n      }\n    ],\n    \"values\":[\n      {\n        \"id\":\"142\",\n        \"data\":{\n          \"image\":\"https://irt-cdn.multiscreensite.com/md/dmip/dms3rep/multi/young-woman-portrait-blue-eyes.jpg\",\n          \"description\":\"<p class=\\\"rteBlock\\\">Description about image.</p>\",\n          \"title\":\"Woman Face\"\n        }\n      },\n      {\n        \"id\":\"143\",\n        \"data\":{\n          \"image\":\"https://irt-cdn.multiscreensite.com/md/dmip/dms3rep/multi/girls-jumping-fashion-cloths.jpg\",\n          \"description\":\"<p class=\\\"rteBlock\\\">Jumping girls</p>\",\n          \"title\":\"Jumping Girls\"\n        }\n      }\n    ]\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "events"
                      },
                      "customer_lock": {
                        "type": "string",
                        "example": "unlocked"
                      },
                      "static_page_bindable": {
                        "type": "boolean",
                        "example": false,
                        "default": true
                      },
                      "item_count": {
                        "type": "integer",
                        "example": 4,
                        "default": 0
                      },
                      "fields": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "example": "date"
                            },
                            "type": {
                              "type": "string",
                              "example": "text"
                            }
                          }
                        }
                      },
                      "values": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "example": "144"
                            },
                            "data": {
                              "type": "object",
                              "properties": {
                                "date": {
                                  "type": "string",
                                  "example": "01/01/2019"
                                },
                                "entry-price": {
                                  "type": "string",
                                  "example": "$40"
                                },
                                "event-image": {
                                  "type": "string",
                                  "example": "https://irt-cdn.multiscreensite.com/md/dmip/dms3rep/multi/young-woman-portrait-blue-eyes.jpg"
                                },
                                "location": {
                                  "type": "string",
                                  "example": "San Francisco"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/site/{site_name}/collection/{collection_name}/field/{field_name}": {
      "delete": {
        "summary": "Delete Fields",
        "description": "Delete an existing field of a collection",
        "operationId": "delete-fields",
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "description": "A valid site name of an existing website",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "collection_name",
            "in": "path",
            "description": "Name of the collection to add the row(s)",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "field_name",
            "in": "path",
            "description": "Name of the field in the collection",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "204",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "const { Duda } = require('@dudadev/partner-api');\n\nconst duda = new Duda({\n  user: 'api-user',\n  pass: 'api-pass'\n});\n\nduda.collections.fields.delete({\n  site_name: 'qw34wq',\n  collection_name: 'collection_name',\n  field_name: 'email',\n})\n  .catch((err) => console.error(err))",
              "name": "@dudadev/partner-api"
            }
          ],
          "samples-languages": [
            "javascript"
          ]
        }
      },
      "put": {
        "summary": "Update Fields",
        "description": "Update existing field of a collection",
        "operationId": "update-fields-app",
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "description": "A valid site name of an existing website",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "collection_name",
            "in": "path",
            "description": "Name of the collection to add the row(s)",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "field_name",
            "in": "path",
            "description": "Name of the field in the collection. (must not start with $)",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The new field name (must not start with $)",
                    "default": "new-field-name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "204",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "const { Duda } = require('@dudadev/partner-api');\n\nconst duda = new Duda({\n  user: 'api-user',\n  pass: 'api-pass'\n});\n\nduda.collections.fields.update({\n  site_name: 'qw34wq',\n  collection_name: 'collection_name',\n  field_name: 'email',\n  name: 'new-field-name',\n})\n  .catch((err) => console.error(err))",
              "name": "@dudadev/partner-api"
            }
          ],
          "samples-languages": [
            "javascript"
          ]
        }
      }
    },
    "/site/{site_name}/collection/{collection_name}": {
      "get": {
        "summary": "Get Collection",
        "description": "Get the fields and data of an existing collection",
        "operationId": "get-collection-appstore",
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "description": "A valid site name of an existing website",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "collection_name",
            "in": "path",
            "description": "Name of the current collection",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"name\":\"events\",\n  \"customer_lock\": \"unlocked\",\n  \"static_page_bindable\": true,\n  \"item_count\": 2,\n  \"fields\":[\n    {\n      \"name\":\"date\",\n      \"type\":\"text\"\n    },\n    {\n      \"name\":\"entry-price\",\n      \"type\":\"text\"\n    },\n    {\n      \"name\":\"event-image\",\n      \"type\":\"image\"\n    },\n    {\n      \"name\":\"location\",\n      \"type\":\"text\"\n    }\n  ],\n  \"values\":[\n    {\n      \"id\":\"144\",\n      \"page_item_url\": '1',\n      \"data\":{\n        \"date\":\"01/01/2019\",\n        \"entry-price\":\"$40\",\n        \"event-image\":\"https://irt-cdn.multiscreensite.com/md/dmip/dms3rep/multi/young-woman-portrait-blue-eyes.jpg\",\n        \"location\":\"San Francisco\"\n      }\n    },\n    {\n      \"id\":\"145\",\n      \"page_item_url\": '2',\n      \"data\":{\n        \"date\":\"01/10/2019\",\n        \"entry-price\":\"$45\",\n        \"event-image\":\"https://irt-cdn.multiscreensite.com/md/dmip/dms3rep/multi/young-woman-portrait-blue-eyes.jpg\",\n        \"location\":\"Boston\"\n      }\n    }\n  ]\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "API is not available for accounts with Basic plan"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n     --url https://api.duda.co/api/integrationhub/application/site/site_name/collection/collection_name \\\n     --header 'Accept: application/json'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "delete": {
        "summary": "Delete Collection",
        "description": "Delete an existing collection",
        "operationId": "delete-collection-app",
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "description": "A valid site name of an existing website",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "collection_name",
            "in": "path",
            "description": "Name of the collection",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "204",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{API is not available for accounts with Basic plan}"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request DELETE \\\n     --url https://api.duda.co/api/integrationhub/application/site/site_name/collection/collection_name \\\n     --header 'Accept: application/json'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/site/{site_name}/collection": {
      "post": {
        "summary": "Create Collection",
        "description": "Create a new collection within a site",
        "operationId": "create-collection-app",
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "description": "A valid site name of an existing website",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the collection (must not start with $)"
                  },
                  "customer_lock": {
                    "type": "string",
                    "description": "The lock state of the collection. Must be one of `unlocked`, `structure_locked` or `locked`",
                    "default": "unlocked"
                  },
                  "static_page_bindable": {
                    "type": "boolean",
                    "description": "Allows collection data to be connected to widgets on a non-dynamic page.",
                    "default": false
                  },
                  "fields": {
                    "type": "array",
                    "description": "You must define at least one field when creating an internal collection (when `external_details.enabled` is set to false)."
                  },
                  "external_details": {
                    "type": "object",
                    "properties": {}
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "204",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "const { Duda } = require('@dudadev/partner-api');\n\nconst duda = new Duda({\n  user: 'api-user',\n  pass: 'api-pass'\n});\n\nduda.collections.create({\n  site_name: 'qw43wq',\n  name: 'collection-name',\n  fields: [\n    { name: 'email', type: 'email' },\n  ],\n  external_details: {\n    enabled: true,\n    external_endpoint: 'https://example.net/data.json',\n    external_id: 'external-id',\n  }\n})\n  .catch((err) => console.error(err))",
              "name": "@dudadev/partner-api"
            },
            {
              "language": "curl",
              "code": "curl --request POST \\\n     --url https://api.duda.co/api/integrationhub/application/site/site_name/collection \\\n     --header 'Accept: application/json'"
            }
          ],
          "samples-languages": [
            "javascript",
            "curl"
          ]
        }
      }
    },
    "/site/{site_name}/collection/{current_collection_name}": {
      "put": {
        "summary": "Update Collection",
        "description": "Update an existing collection",
        "operationId": "update-collection-app",
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "description": "A valid site name of an existing website",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "current_collection_name",
            "in": "path",
            "description": "Name of the current collection",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The new name of the collection (must not start with $)"
                  },
                  "customer_lock": {
                    "type": "string",
                    "description": "The lock state of the collection. Must be one of `unlocked`, `structure_locked` or `locked`",
                    "default": "unlocked"
                  },
                  "static_page_bindable": {
                    "type": "boolean",
                    "description": "Allows collection data to be connected to widgets on a non-dynamic page.",
                    "default": false
                  },
                  "external_details": {
                    "type": "object",
                    "properties": {}
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "204",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "const { Duda } = require('@dudadev/partner-api');\n\nconst duda = new Duda({\n  user: 'api-user',\n  pass: 'api-pass'\n});\n\nduda.collections.update({\n  name: 'new-collection-name',\n  site_name: 'qw43wq',\n  current_collection_name: 'collection-name',\n})\n  .catch((err) => console.error(err))",
              "name": "@dudadev/partner-api"
            },
            {
              "language": "curl",
              "code": "curl --request PUT \\\n     --url https://api.duda.co/api/integrationhub/application/site/site_name/collection/collection_name \\\n     --header 'Accept: application/json'"
            }
          ],
          "samples-languages": [
            "javascript",
            "curl"
          ]
        }
      }
    },
    "/site/{site_name}/collection/{collection_name}/revalidate": {
      "post": {
        "summary": "Clear Cache",
        "description": "Force Duda to refresh the data from an external URL for a given collection.",
        "operationId": "clear-cache-app",
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "description": "A valid site name of an existing website",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "collection_name",
            "in": "path",
            "description": "Name of the current collection",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "const { Duda } = require('@dudadev/partner-api');\n\nconst duda = new Duda({\n  user: 'api-user',\n  pass: 'api-pass'\n});\n\nduda.collections.clearCache({\n  site_name: 'qw34wq',\n  collection_name: 'collection-name',\n})\n  .catch((err) => console.error(err))",
              "name": "@dudadev/partner-api"
            }
          ],
          "samples-languages": [
            "javascript"
          ]
        }
      }
    },
    "/site/collections/revalidate/{external_id}": {
      "post": {
        "summary": "Clear Cache by External ID",
        "description": "Revalidate all collections in all sites under the same account that use the provided external id",
        "operationId": "clear-cache-by-external-id-app",
        "parameters": [
          {
            "name": "external_id",
            "in": "path",
            "description": "The external ID for the collections",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "const { Duda } = require('@dudadev/partner-api');\n\nconst duda = new Duda({\n  user: 'api-user',\n  pass: 'api-pass'\n});\n\nduda.collections.clearCacheByExtId({\n  external_id: 'external-id',\n})\n  .catch((err) => console.error(err))",
              "name": "@dudadev/partner-api"
            }
          ],
          "samples-languages": [
            "javascript"
          ]
        }
      }
    },
    "/site/{site_name}/collection/{collection_name}/row": {
      "post": {
        "summary": "Create Rows",
        "description": "Add new row(s) of data into an existing collection. This accepts multiple row values if you'd like to insert more than one.",
        "operationId": "create-rows-app",
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "description": "A valid site name of an existing website",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "collection_name",
            "in": "path",
            "description": "Name of the collection to add the row(s)",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "RAW_BODY": {
                    "type": "string",
                    "format": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n    {\n        \"id\": \"233\"\n    },\n    {\n        \"id\": \"234\"\n    }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "233"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "const { Duda } = require('@dudadev/partner-api');\n\nconst duda = new Duda({\n  user: 'api-user',\n  pass: 'api-pass'\n});\n\nduda.collections.rows.create({\n  site_name: 'qw34wq',\n  collection_name: 'collection-name',\n  raw_body: [\n    { data: { email: 'user@example.com' } },\n  ]\n})\n  .then((rows) => console.log(rows));\n  .catch((err) => console.error(err))",
              "name": "@dudadev/partner-api"
            }
          ],
          "samples-languages": [
            "javascript"
          ]
        }
      },
      "put": {
        "summary": "Update Rows",
        "description": "Update existing collection rows.",
        "operationId": "update-rows-app",
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "description": "A valid site name of an existing website",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "collection_name",
            "in": "path",
            "description": "Name of the collection to add the row(s)",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "RAW_BODY": {
                    "type": "string",
                    "format": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "204",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "const { Duda } = require('@dudadev/partner-api');\n\nconst duda = new Duda({\n  user: 'api-user',\n  pass: 'api-pass'\n});\n\nduda.collections.rows.update({\n  site_name: 'qw34wq',\n  collection_name: 'collection-name',\n  raw_body: [\n    { data: { email: 'newemail@example.net' } },\n  ],\n})\n  .catch((err) => console.error(err))",
              "name": "@dudadev/partner-api"
            }
          ],
          "samples-languages": [
            "javascript"
          ]
        }
      },
      "delete": {
        "summary": "Delete Rows",
        "description": "Delete existing rows of data that exist within the collection.",
        "operationId": "delete-rows-app",
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "description": "A valid site name of an existing website",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "collection_name",
            "in": "path",
            "description": "Name of the collection to add the row(s)",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "RAW_BODY": {
                    "type": "string",
                    "description": "Array of row ids to delete",
                    "default": "[\"146\", \"324\"]",
                    "format": "json"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "204",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "const { Duda } = require('@dudadev/partner-api');\n\nconst duda = new Duda({\n  user: 'api-user',\n  pass: 'api-pass'\n});\n\nduda.collections.rows.delete({\n  site_name: 'qw34wq',\n  collection_name: 'collection-name',\n  raw_body: ['123', '345', '678'],\n})\n  .catch((err) => console.error(err))",
              "name": "@dudadev/partner-api"
            }
          ],
          "samples-languages": [
            "javascript"
          ]
        }
      }
    },
    "/site/{site_name}/collection/{collection_name}/field": {
      "post": {
        "summary": "Create Fields",
        "description": "Add a new field(s) to an existing collection.",
        "operationId": "create-fields-app",
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "description": "A valid site name of an existing website",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "collection_name",
            "in": "path",
            "description": "Name of the collection to add the row(s)",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "RAW_BODY": {
                    "type": "array",
                    "description": "Array of new fields to add to the collection"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "204",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "const { Duda } = require('@dudadev/partner-api');\n\nconst duda = new Duda({\n  user: 'api-user',\n  pass: 'api-pass'\n});\n\nduda.collections.fields.create({\n  site_name: 'qw34wq',\n  collection_name: 'collection-name',\n  raw_body: [\n    { name: 'email', type: 'email' },\n  ]\n})\n  .catch((err) => console.error(err))",
              "name": "@dudadev/partner-api"
            }
          ],
          "samples-languages": [
            "javascript"
          ]
        }
      }
    },
    "/site/{site_name}": {
      "get": {
        "summary": "Get Site",
        "description": "Getting a site via App Store APIs",
        "operationId": "app-store-get-site",
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-duda-access-token",
            "in": "header",
            "description": "The specific access token to access this site API.",
            "schema": {
              "type": "string",
              "default": "Bearer tefDCCAKciewk6FLmMjfC0cg1d4"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Your App Account's username and password, based64'd.",
            "schema": {
              "type": "string",
              "default": "Basic ZXhhbXBsZVVzZXI6bmljZXRyeQ=="
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"account_name\": \"russ@duda.co\",\n    \"site_seo\": {\n        \"og_image\": null,\n        \"title\": null,\n        \"description\": null\n    },\n    \"schemas\": {\n        \"local_business\": {\n            \"enabled\": false,\n            \"status\": null,\n            \"missing_required_fields\": null,\n            \"missing_recommended_fields\": null\n        }\n    },\n    \"site_business_info\": {\n        \"email\": \"mymail@mailservice.com\",\n        \"opentable_info\": []\n    },\n    \"site_name\": \"6198d674fe924478a3f1e0b2adc2ee3a\",\n    \"template_id\": 1041972,\n    \"site_default_domain\": \"russ18408d87.sandbox.multiscreensite.com\",\n    \"preview_site_url\": \"http://russ.editor-sandbox.multiscreensite.com/preview/6198d674fe924478a3f1e0b2adc2ee3a\",\n    \"edit_site_url\": \"http://russ.editor-sandbox.multiscreensite.com/home/site/6198d674fe924478a3f1e0b2adc2ee3a\",\n    \"overview_site_url\": \"http://russ.editor-sandbox.multiscreensite.com/home/dashboard/overview/6198d674fe924478a3f1e0b2adc2ee3a\",\n    \"force_https\": false,\n    \"lang\": \"en\",\n    \"modification_date\": \"2022-11-18T23:43:23\",\n    \"creation_date\": \"2022-11-18T23:43:11\",\n    \"publish_status\": \"NOT_PUBLISHED_YET\",\n    \"store_status\": \"NONE\",\n    \"cookie_notification\": {\n        \"enabled\": false\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "account_name": {
                      "type": "string",
                      "example": "russ@duda.co"
                    },
                    "site_seo": {
                      "type": "object",
                      "properties": {
                        "og_image": {},
                        "title": {},
                        "description": {}
                      }
                    },
                    "schemas": {
                      "type": "object",
                      "properties": {
                        "local_business": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean",
                              "example": false,
                              "default": true
                            },
                            "status": {},
                            "missing_required_fields": {},
                            "missing_recommended_fields": {}
                          }
                        }
                      }
                    },
                    "site_business_info": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "example": "mymail@mailservice.com"
                        },
                        "opentable_info": {
                          "type": "array"
                        }
                      }
                    },
                    "site_name": {
                      "type": "string",
                      "example": "6198d674fe924478a3f1e0b2adc2ee3a"
                    },
                    "template_id": {
                      "type": "integer",
                      "example": 1041972,
                      "default": 0
                    },
                    "site_default_domain": {
                      "type": "string",
                      "example": "russ18408d87.sandbox.multiscreensite.com"
                    },
                    "preview_site_url": {
                      "type": "string",
                      "example": "http://russ.editor-sandbox.multiscreensite.com/preview/6198d674fe924478a3f1e0b2adc2ee3a"
                    },
                    "edit_site_url": {
                      "type": "string",
                      "example": "http://russ.editor-sandbox.multiscreensite.com/home/site/6198d674fe924478a3f1e0b2adc2ee3a"
                    },
                    "overview_site_url": {
                      "type": "string",
                      "example": "http://russ.editor-sandbox.multiscreensite.com/home/dashboard/overview/6198d674fe924478a3f1e0b2adc2ee3a"
                    },
                    "force_https": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "lang": {
                      "type": "string",
                      "example": "en"
                    },
                    "modification_date": {
                      "type": "string",
                      "example": "2022-11-18T23:43:23"
                    },
                    "creation_date": {
                      "type": "string",
                      "example": "2022-11-18T23:43:11"
                    },
                    "publish_status": {
                      "type": "string",
                      "example": "NOT_PUBLISHED_YET"
                    },
                    "store_status": {
                      "type": "string",
                      "example": "NONE"
                    },
                    "cookie_notification": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "Update Site",
        "description": "Updating a site via App Store APIs",
        "operationId": "app-update-site",
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-duda-access-token",
            "in": "header",
            "description": "The specific access token to access this site API.",
            "schema": {
              "type": "string",
              "default": "Bearer tefDCCAKciewk6FLmMjfC0cg1d4"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Your App Account's username and password, based64'd.",
            "schema": {
              "type": "string",
              "default": "Basic ZXhhbXBsZVVzZXI6bmljZXRyeQ=="
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "site_domain": {
                    "type": "string",
                    "description": "The primary domain of the website. Change this with extreme caution.",
                    "default": "www.example.com"
                  },
                  "default_domain_prefix": {
                    "type": "string",
                    "description": "The prefix of the sub-domain or alternate the site first renders under.",
                    "default": "example-website"
                  },
                  "external_uid": {
                    "type": "string",
                    "description": "Referrs to the owner of the website and some external reference of the website.",
                    "default": "abcdefg"
                  },
                  "lang": {
                    "type": "string",
                    "description": "Two char lang code for the website default language."
                  },
                  "additionalLanguages": {
                    "type": "array",
                    "description": "An array of secondary languages for the website, in two character format.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "fav_icon": {
                    "type": "string",
                    "default": "https://someurl.com/icon.png"
                  },
                  "force_https": {
                    "type": "boolean",
                    "description": "If the website always redirect visitors to https or not.",
                    "default": true
                  },
                  "site_seo": {
                    "type": "object",
                    "properties": {
                      "og_image": {
                        "type": "string",
                        "description": "Open Graph & Twitter Images"
                      },
                      "title": {
                        "type": "string",
                        "description": "Default title for pages which does not have one."
                      },
                      "description": {
                        "type": "string",
                        "description": "Default description for pages which don't have them."
                      },
                      "no_index": {
                        "type": "boolean"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/site/{site_name}/branding": {
      "get": {
        "summary": "Get Account Brand",
        "description": "Getting a site via App Store APIs",
        "operationId": "app-get-account-branding",
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-duda-access-token",
            "in": "header",
            "description": "The specific access token to access this site API.",
            "schema": {
              "type": "string",
              "default": "Bearer tefDCCAKciewk6FLmMjfC0cg1d4"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Your App Account's username and password, based64'd.",
            "schema": {
              "type": "string",
              "default": "Basic ZXhhbXBsZVVzZXI6bmljZXRyeQ=="
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"logo\": \"string\",\n  \"color\": {\n    \"links\": \"string\",\n    \"button_background\": \"string\",\n    \"button_text\": \"string\",\n    \"text_on_light\": \"string\",\n    \"text_on_dark\": \"string\",\n    \"header_background\": \"string\",\n    \"preview_background\": \"string\"\n  },\n  \"preview_background_image\": \"string\",\n  \"dashboard_domain\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "logo": {
                      "type": "string",
                      "example": "string"
                    },
                    "color": {
                      "type": "object",
                      "properties": {
                        "links": {
                          "type": "string",
                          "example": "string"
                        },
                        "button_background": {
                          "type": "string",
                          "example": "string"
                        },
                        "button_text": {
                          "type": "string",
                          "example": "string"
                        },
                        "text_on_light": {
                          "type": "string",
                          "example": "string"
                        },
                        "text_on_dark": {
                          "type": "string",
                          "example": "string"
                        },
                        "header_background": {
                          "type": "string",
                          "example": "string"
                        },
                        "preview_background": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "preview_background_image": {
                      "type": "string",
                      "example": "string"
                    },
                    "dashboard_domain": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/site/{site_name}/republish": {
      "post": {
        "summary": "Republish Website",
        "description": "Republish a website via App Store APIs",
        "operationId": "app-site-republish",
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-duda-access-token",
            "in": "header",
            "description": "The specific access token to access this site API.",
            "schema": {
              "type": "string",
              "default": "Bearer tefDCCAKciewk6FLmMjfC0cg1d4"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Your App Account's username and password, based64'd.",
            "schema": {
              "type": "string",
              "default": "Basic ZXhhbXBsZVVzZXI6bmljZXRyeQ=="
            }
          }
        ],
        "responses": {
          "204": {
            "description": "204",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/site/{site_name}/resources/upload": {
      "post": {
        "summary": "Upload Resources (images)",
        "description": "Upload images to the content library of the website.",
        "operationId": "app-site-upload",
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-duda-access-token",
            "in": "header",
            "description": "The specific access token to access this site API.",
            "schema": {
              "type": "string",
              "default": "Bearer tefDCCAKciewk6FLmMjfC0cg1d4"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Your App Account's username and password, based64'd.",
            "schema": {
              "type": "string",
              "default": "Basic ZXhhbXBsZVVzZXI6bmljZXRyeQ=="
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "RAW_BODY": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "resource_type": {
                          "type": "string",
                          "default": "image",
                          "enum": [
                            "image"
                          ]
                        },
                        "src": {
                          "type": "string",
                          "description": "The location where Duda copies content from. Must be publically available."
                        }
                      },
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/site/{site_name}/account/details": {
      "get": {
        "summary": "Get Account Details",
        "description": "Get Account Details of the account owner who installed the App.",
        "operationId": "get-account-details",
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "x-duda-access-token",
            "in": "header",
            "description": "The specific access token to access this site API.",
            "schema": {
              "type": "string",
              "default": "Bearer tefDCCAKciewk6FLmMjfC0cg1d4"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Your App Account's username and password, based64'd.",
            "schema": {
              "type": "string",
              "default": "Basic ZXhhbXBsZVVzZXI6bmljZXRyeQ=="
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"email\": \"string\",\n  \"first_name\": \"string\",\n  \"last_name\": \"string\",\n  \"uuid\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "example": "string"
                    },
                    "first_name": {
                      "type": "string",
                      "example": "string"
                    },
                    "last_name": {
                      "type": "string",
                      "example": "string"
                    },
                    "uuid": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/site/{site_name}/content": {
      "get": {
        "summary": "Get Content Library",
        "description": "Get the data that exists within the content library of a website.",
        "operationId": "get-content-library",
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "description": "A valid site name of an existing website",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"location_data\":{\n    \"phones\":[\n      {\n        \"phoneNumber\":\"123-123-1234\",\n        \"label\":\"Russ Phone\"\n      },\n      {\n        \"phoneNumber\":\"18001234567\",\n        \"label\":\"Duda Phone\"\n      }\n    ],\n    \"emails\":[\n      {\n        \"emailAddress\":\"api@duda.co\",\n        \"label\":\"API Email\"\n      },\n      {\n        \"emailAddress\":\"support@duda.co\",\n        \"label\":\"Support Email\"\n      }\n    ],\n    \"label\":\"Duda HQ\",\n    \"social_accounts\":{\n      \"tripadvisor\":\"Restaurant_Review-g32849-d2394400-Reviews-Oren_s_Hummus_Shop-Palo_Alto_California.html\",\n      \"youtube\":\"UCPMwzOc1Su-s2z-J1xiU9ig\",\n      \"facebook\":\"duda\",\n      \"yelp\":\"orens-hummus-shop-palo-alto\",\n      \"pinterest\":\"michelleobama\",\n      \"google_plus\":\"+Dudamobile577\",\n      \"linkedin\":\"duda\",\n      \"instagram\":\"orenshummus\",\n      \"snapchat\":\"michelleobama\",\n      \"twitter\":\"dudamobile\",\n      \"rss\":\"https://www.duda.co/blog/feed/\",\n      \"vimeo\":\"dudamobile\",\n      \"reddit\":\"duda\"\n    },\n    \"address\":{\n      \"streetAddress\":\"577 College Ave\",\n      \"postalCode\":\"94306\",\n      \"region\":\"CA\",\n      \"city\":\"Palo Alto\",\n      \"country\":\"US\"\n    },\n    \"address_geolocation\":\"1833 Harvard St NW, Washington, DC 20009, USA\",\n    \"geo\":{\n      \"longitude\":\"-122.4757527166\",\n      \"latitude\":\"37.502439189002\"\n    },\n    \"logo_url\":\"https://du-cdn.multiscreensite.com/duda_website/img/home/agencies.svg\",\n    \"business_hours\":[\n      {\n        \"days\":[\n          \"SAT\",\n          \"SUN\"\n        ],\n        \"open\":\"00:00\",\n        \"close\":\"00:00\"\n      },\n      {\n        \"days\":[\n          \"MON\",\n          \"TUE\",\n          \"WED\",\n          \"THU\",\n          \"FRI\"\n        ],\n        \"open\":\"09:00\",\n        \"close\":\"18:00\"\n      }\n    ]\n  },\n  \"additional_locations\":[\n    {\n      \"uuid\":\"276169839\",\n      \"phones\":[\n        {\n          \"phoneNumber\":\"123-123-1234\",\n          \"label\":\"\"\n        }\n      ],\n      \"emails\":[\n        \n      ],\n      \"label\":\"Duda Tel Aviv\",\n      \"social_accounts\":{\n        \n      },\n      \"address\":{\n        \n      },\n      \"geo\":{\n        \"longitude\":\"34.78337\",\n        \"latitude\":\"32.07605\"\n      },\n      \"logo_url\":null,\n      \"business_hours\":null\n    }\n  ],\n  \"site_texts\":{\n    \"overview\":\"Oh, Duda? Duda is a variation of \\\"Dude\\\", who just happens to be the main character in one of our favorite movies of all time: The Big Lebowski. You should watch it some time. Look out for that ferret!\",\n    \"services\":\"- Responsive Website Builder\",\n    \"custom\":[\n      {\n        \"label\":\"Example CTA 1\",\n        \"text\":\"THE WEB DESIGN PLATFORM FOR Scaling Your Agency\"\n      },\n      {\n        \"label\":\"Example CTA 2\",\n        \"text\":\"THE WEB DESIGN PLATFORM FOR\\nBuilding Websites Faster\"\n      }\n    ],\n    \"about_us\":\"Duda is a leading website builder for web professionals and agencies of all sizes. Our website builder enables you to build amazing, feature-rich websites that are perfectly suited to desktop, tablet and mobile. Our mobile builder enables you to build mobile-only sites from scratch, or based on an existing desktop site or Facebook business page. Duda allows professionals and agencies to build high-converting, personalized websites at scale. Duda optimizes each and every site for Google PageSpeed.\"\n  },\n  \"business_data\":{\n    \"name\":\"Duda\",\n    \"logo_url\":\"https://www.duda.co/developers/REST-API-Reference/images/duda.svg\"\n  },\n  \"site_images\":[\n    {\n      \"label\":\"Example Store Logo\",\n      \"url\":\"https://irt-cdn.multiscreensite.com/7536fe2010ed4f7ea68e21d0cb868e01/dms3rep/multi/ice_cream_logo_b_w-18-300x300.svg\",\n      \"alt\":\"Example Store Logo\"\n    },\n    {\n      \"label\":\"Example Store Banner\",\n      \"url\":\"https://irt-cdn.multiscreensite.com/7536fe2010ed4f7ea68e21d0cb868e01/dms3rep/multi/sign_icecream_shop-1000x1108.jpg\",\n      \"alt\":\"Example Store Banner\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "location_data": {
                      "type": "object",
                      "properties": {
                        "phones": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "phoneNumber": {
                                "type": "string",
                                "example": "123-123-1234"
                              },
                              "label": {
                                "type": "string",
                                "example": "Russ Phone"
                              }
                            }
                          }
                        },
                        "emails": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "emailAddress": {
                                "type": "string",
                                "example": "api@duda.co"
                              },
                              "label": {
                                "type": "string",
                                "example": "API Email"
                              }
                            }
                          }
                        },
                        "label": {
                          "type": "string",
                          "example": "Duda HQ"
                        },
                        "social_accounts": {
                          "type": "object",
                          "properties": {
                            "tripadvisor": {
                              "type": "string",
                              "example": "Restaurant_Review-g32849-d2394400-Reviews-Oren_s_Hummus_Shop-Palo_Alto_California.html"
                            },
                            "youtube": {
                              "type": "string",
                              "example": "UCPMwzOc1Su-s2z-J1xiU9ig"
                            },
                            "facebook": {
                              "type": "string",
                              "example": "duda"
                            },
                            "yelp": {
                              "type": "string",
                              "example": "orens-hummus-shop-palo-alto"
                            },
                            "pinterest": {
                              "type": "string",
                              "example": "michelleobama"
                            },
                            "google_plus": {
                              "type": "string",
                              "example": "+Dudamobile577"
                            },
                            "linkedin": {
                              "type": "string",
                              "example": "duda"
                            },
                            "instagram": {
                              "type": "string",
                              "example": "orenshummus"
                            },
                            "snapchat": {
                              "type": "string",
                              "example": "michelleobama"
                            },
                            "twitter": {
                              "type": "string",
                              "example": "dudamobile"
                            },
                            "rss": {
                              "type": "string",
                              "example": "https://www.duda.co/blog/feed/"
                            },
                            "vimeo": {
                              "type": "string",
                              "example": "dudamobile"
                            },
                            "reddit": {
                              "type": "string",
                              "example": "duda"
                            }
                          }
                        },
                        "address": {
                          "type": "object",
                          "properties": {
                            "streetAddress": {
                              "type": "string",
                              "example": "577 College Ave"
                            },
                            "postalCode": {
                              "type": "string",
                              "example": "94306"
                            },
                            "region": {
                              "type": "string",
                              "example": "CA"
                            },
                            "city": {
                              "type": "string",
                              "example": "Palo Alto"
                            },
                            "country": {
                              "type": "string",
                              "example": "US"
                            }
                          }
                        },
                        "address_geolocation": {
                          "type": "string",
                          "example": "1833 Harvard St NW, Washington, DC 20009, USA"
                        },
                        "geo": {
                          "type": "object",
                          "properties": {
                            "longitude": {
                              "type": "string",
                              "example": "-122.4757527166"
                            },
                            "latitude": {
                              "type": "string",
                              "example": "37.502439189002"
                            }
                          }
                        },
                        "logo_url": {
                          "type": "string",
                          "example": "https://du-cdn.multiscreensite.com/duda_website/img/home/agencies.svg"
                        },
                        "business_hours": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "days": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "example": "SAT"
                                }
                              },
                              "open": {
                                "type": "string",
                                "example": "00:00"
                              },
                              "close": {
                                "type": "string",
                                "example": "00:00"
                              }
                            }
                          }
                        }
                      }
                    },
                    "additional_locations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "uuid": {
                            "type": "string",
                            "example": "276169839"
                          },
                          "phones": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "phoneNumber": {
                                  "type": "string",
                                  "example": "123-123-1234"
                                },
                                "label": {
                                  "type": "string",
                                  "example": ""
                                }
                              }
                            }
                          },
                          "emails": {
                            "type": "array"
                          },
                          "label": {
                            "type": "string",
                            "example": "Duda Tel Aviv"
                          },
                          "social_accounts": {
                            "type": "object",
                            "properties": {}
                          },
                          "address": {
                            "type": "object",
                            "properties": {}
                          },
                          "geo": {
                            "type": "object",
                            "properties": {
                              "longitude": {
                                "type": "string",
                                "example": "34.78337"
                              },
                              "latitude": {
                                "type": "string",
                                "example": "32.07605"
                              }
                            }
                          },
                          "logo_url": {},
                          "business_hours": {}
                        }
                      }
                    },
                    "site_texts": {
                      "type": "object",
                      "properties": {
                        "overview": {
                          "type": "string",
                          "example": "Oh, Duda? Duda is a variation of \"Dude\", who just happens to be the main character in one of our favorite movies of all time: The Big Lebowski. You should watch it some time. Look out for that ferret!"
                        },
                        "services": {
                          "type": "string",
                          "example": "- Responsive Website Builder"
                        },
                        "custom": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "label": {
                                "type": "string",
                                "example": "Example CTA 1"
                              },
                              "text": {
                                "type": "string",
                                "example": "THE WEB DESIGN PLATFORM FOR Scaling Your Agency"
                              }
                            }
                          }
                        },
                        "about_us": {
                          "type": "string",
                          "example": "Duda is a leading website builder for web professionals and agencies of all sizes. Our website builder enables you to build amazing, feature-rich websites that are perfectly suited to desktop, tablet and mobile. Our mobile builder enables you to build mobile-only sites from scratch, or based on an existing desktop site or Facebook business page. Duda allows professionals and agencies to build high-converting, personalized websites at scale. Duda optimizes each and every site for Google PageSpeed."
                        }
                      }
                    },
                    "business_data": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "Duda"
                        },
                        "logo_url": {
                          "type": "string",
                          "example": "https://www.duda.co/developers/REST-API-Reference/images/duda.svg"
                        }
                      }
                    },
                    "site_images": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "label": {
                            "type": "string",
                            "example": "Example Store Logo"
                          },
                          "url": {
                            "type": "string",
                            "example": "https://irt-cdn.multiscreensite.com/7536fe2010ed4f7ea68e21d0cb868e01/dms3rep/multi/ice_cream_logo_b_w-18-300x300.svg"
                          },
                          "alt": {
                            "type": "string",
                            "example": "Example Store Logo"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/sites/multiscreen/{site_name}/content": {
      "post": {
        "summary": "Update Content Library",
        "description": "Update the data that exists within the content library. Once updated the data is ready for immediate use within the editor.",
        "operationId": "update-content-library",
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "description": "A valid site name of an existing website",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "204",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "const { Duda } = require('@dudadev/partner-api');\n\nconst duda = new Duda({\n  user: 'api-user',\n  pass: 'api-pass'\n});\n\nduda.content.update({\n  site_name: 'qw34wq',\n  location_data: {\n    address: 'address',\n    logo_url: 'https://example.com',\n    emails: [\n      { emailAddress: 'user@example.com', label: 'main' }\n    ]\n  }\n})\n  .catch((err) => console.error(err))",
              "name": "@dudadev/partner-api"
            }
          ],
          "samples-languages": [
            "javascript"
          ]
        }
      }
    },
    "/site/{site_name}/content/publish": {
      "post": {
        "summary": "Publish Content Library",
        "description": "Push updates already within the content library directly to the live version of the website. This pushes the data that exists within the content library to the live/published version of the website.",
        "operationId": "publish-content-library",
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "description": "A valid site name of an existing website",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Your App Account's username and password, base64'd.",
            "schema": {
              "type": "string",
              "default": "Basic ZXhhbXBsZVVzZXI6bmljZXRyeQ=="
            }
          },
          {
            "name": "x-duda-access-token",
            "in": "header",
            "description": "The specific access token to access this site API.",
            "schema": {
              "type": "string",
              "default": "Bearer tefDCCAKciewk6FLmMjfC0cg1d4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/site/{site_name}/content/location/{location_id}": {
      "get": {
        "summary": "Get Location",
        "description": "Get data for a specific location.",
        "operationId": "get-location",
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "description": "A valid site name of an existing website",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "location_id",
            "in": "path",
            "description": "The `id` of the location",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Your App Account's username and password, based64'd.",
            "schema": {
              "type": "string",
              "default": "Basic ZXhhbXBsZVVzZXI6bmljZXRyeQ=="
            }
          },
          {
            "name": "x-duda-access-token",
            "in": "header",
            "description": "The specific access token to access this site API.",
            "schema": {
              "type": "string",
              "default": "Bearer tefDCCAKciewk6FLmMjfC0cg1d4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"uuid\":\"367163873\",\n  \"phones\":[\n    {\n      \"phoneNumber\":\"123-123-4321\",\n      \"label\":\"Main Phone\"\n    },\n    {\n      \"phoneNumber\":\"123-123-5321\",\n      \"label\":\"Scheduling\"\n    }\n  ],\n  \"emails\":[\n    {\n      \"emailAddress\":\"colorado@duda.co\",\n      \"label\":\"Colorado Office Email\"\n    }\n  ],\n  \"label\":\"Duda Colorado - Goosetail Labs\",\n  \"social_accounts\":{\n    \"twitter\":\"dudamobile\",\n    \"facebook\":\"duda\"\n  },\n  \"address\":{\n    \"streetAddress\":\"197 S 104th St C\",\n    \"postalCode\":\"80027\",\n    \"city\":\"Louisville\",\n    \"country\":\"US\"\n  },\n  \"address_geolocation\":\"197 S 104th St C Louisville 80027 US\",\n  \"geo\":{\n    \"longitude\":null,\n    \"latitude\":null\n  },\n  \"logo_url\":\"https://www.duda.co/developers/REST-API-Reference/images/duda.svg\",\n  \"business_hours\":[\n    {\n      \"days\":[\n        \"MON\",\n        \"TUE\",\n        \"WED\",\n        \"THU\",\n        \"FRI\"\n      ],\n      \"open\":\"09:00\",\n      \"close\":\"18:00\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "example": "367163873"
                    },
                    "phones": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "phoneNumber": {
                            "type": "string",
                            "example": "123-123-4321"
                          },
                          "label": {
                            "type": "string",
                            "example": "Main Phone"
                          }
                        }
                      }
                    },
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "emailAddress": {
                            "type": "string",
                            "example": "colorado@duda.co"
                          },
                          "label": {
                            "type": "string",
                            "example": "Colorado Office Email"
                          }
                        }
                      }
                    },
                    "label": {
                      "type": "string",
                      "example": "Duda Colorado - Goosetail Labs"
                    },
                    "social_accounts": {
                      "type": "object",
                      "properties": {
                        "twitter": {
                          "type": "string",
                          "example": "dudamobile"
                        },
                        "facebook": {
                          "type": "string",
                          "example": "duda"
                        }
                      }
                    },
                    "address": {
                      "type": "object",
                      "properties": {
                        "streetAddress": {
                          "type": "string",
                          "example": "197 S 104th St C"
                        },
                        "postalCode": {
                          "type": "string",
                          "example": "80027"
                        },
                        "city": {
                          "type": "string",
                          "example": "Louisville"
                        },
                        "country": {
                          "type": "string",
                          "example": "US"
                        }
                      }
                    },
                    "address_geolocation": {
                      "type": "string",
                      "example": "197 S 104th St C Louisville 80027 US"
                    },
                    "geo": {
                      "type": "object",
                      "properties": {
                        "longitude": {},
                        "latitude": {}
                      }
                    },
                    "logo_url": {
                      "type": "string",
                      "example": "https://www.duda.co/developers/REST-API-Reference/images/duda.svg"
                    },
                    "business_hours": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "days": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "MON"
                            }
                          },
                          "open": {
                            "type": "string",
                            "example": "09:00"
                          },
                          "close": {
                            "type": "string",
                            "example": "18:00"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "Update Location",
        "description": "Update an existing location within the content library. You can only update `additional_locations` that exist as part of the content library.",
        "operationId": "update-location-1",
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "description": "A valid site name of an existing website",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "location_id",
            "in": "path",
            "description": "The `id` of the location",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Your App Account's username and password, base64'd.",
            "schema": {
              "type": "string",
              "default": "Basic ZXhhbXBsZVVzZXI6bmljZXRyeQ=="
            }
          },
          {
            "name": "x-duda-access-token",
            "in": "header",
            "description": "The specific access token to access this site API.",
            "schema": {
              "type": "string",
              "default": "Bearer tefDCCAKciewk6FLmMjfC0cg1d4"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "204",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Delete Location",
        "description": "Delete an existing location",
        "operationId": "delete-location-1",
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "description": "A valid site name of an existing website",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "location_id",
            "in": "path",
            "description": "The `uuid` of the location",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/site/{site_name}/content/location": {
      "post": {
        "summary": "Create Location",
        "description": "Create a new location for a website. This location will be apart of the `additional_locations` object that is returned from a site's content library.",
        "operationId": "create-location",
        "parameters": [
          {
            "name": "site_name",
            "in": "path",
            "description": "A valid site name of an existing website",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Your App Account's username and password, base64'd.",
            "schema": {
              "type": "string",
              "default": "Basic ZXhhbXBsZVVzZXI6bmljZXRyeQ=="
            }
          },
          {
            "name": "x-duda-access-token",
            "in": "header",
            "description": "The specific access token to access this site API.",
            "schema": {
              "type": "string",
              "default": "Bearer tefDCCAKciewk6FLmMjfC0cg1d4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"uuid\":\"367163873\",\n  \"phones\":[\n    {\n      \"phoneNumber\":\"123-123-4321\",\n      \"label\":\"Main Phone\"\n    },\n    {\n      \"phoneNumber\":\"123-123-5321\",\n      \"label\":\"Scheduling\"\n    }\n  ],\n  \"emails\":[\n    {\n      \"emailAddress\":\"colorado@duda.co\",\n      \"label\":\"Colorado Office Email\"\n    }\n  ],\n  \"label\":\"Duda Colorado - Goosetail Labs\",\n  \"social_accounts\":{\n    \"twitter\":\"dudamobile\",\n    \"facebook\":\"duda\"\n  },\n  \"address\":{\n    \"streetAddress\":\"197 S 104th St C\",\n    \"postalCode\":\"80027\",\n    \"region\":\"CO\",\n    \"city\":\"Louisville\",\n    \"country\":\"USA\"\n  },\n  \"geo\":null,\n  \"logo_url\":\"https://www.duda.co/developers/REST-API-Reference/images/duda.svg\",\n  \"business_hours\":[\n    {\n      \"days\":[\n        \"MON\",\n        \"TUE\",\n        \"WED\",\n        \"THU\",\n        \"FRI\"\n      ],\n      \"open\":\"09:00\",\n      \"close\":\"18:00\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "example": "367163873"
                    },
                    "phones": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "phoneNumber": {
                            "type": "string",
                            "example": "123-123-4321"
                          },
                          "label": {
                            "type": "string",
                            "example": "Main Phone"
                          }
                        }
                      }
                    },
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "emailAddress": {
                            "type": "string",
                            "example": "colorado@duda.co"
                          },
                          "label": {
                            "type": "string",
                            "example": "Colorado Office Email"
                          }
                        }
                      }
                    },
                    "label": {
                      "type": "string",
                      "example": "Duda Colorado - Goosetail Labs"
                    },
                    "social_accounts": {
                      "type": "object",
                      "properties": {
                        "twitter": {
                          "type": "string",
                          "example": "dudamobile"
                        },
                        "facebook": {
                          "type": "string",
                          "example": "duda"
                        }
                      }
                    },
                    "address": {
                      "type": "object",
                      "properties": {
                        "streetAddress": {
                          "type": "string",
                          "example": "197 S 104th St C"
                        },
                        "postalCode": {
                          "type": "string",
                          "example": "80027"
                        },
                        "region": {
                          "type": "string",
                          "example": "CO"
                        },
                        "city": {
                          "type": "string",
                          "example": "Louisville"
                        },
                        "country": {
                          "type": "string",
                          "example": "USA"
                        }
                      }
                    },
                    "geo": {},
[...]
